<!Doctype html>
<html lang="ko">
    <head>
        <title></title>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=yes">
        <meta name="author" content="univEBIZ_zOoOe">
        <meta name="format-detection" content="telephone=no"> <!-- remove phone number style in micrtEdge -->
        <meta name="keywords" content="">
        <meta name="description" content="">

        <meta property="og:type" content="website">
        <meta property="og:url" content="">
        <meta property="og:site_name" content="" >
        <meta property="og:title" content="">
        <meta property="og:description" content="">
        <meta property="og:image" content="">
        <meta property="og:image:width" content="600">
        <meta property="og:image:height" content="315">
        
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="">
        <meta property="twitter:title" content="">
        <meta property="twitter:description" content="">
        <meta property="twitter:image" content="">

        <link rel="shortcut icon" type="image/x-icon" href=""> <!-- Chrome, Safari, IE -->
        <link rel="icon" type="image/png" href=""> <!-- Firefox, Opera -->

        <link href="../../content/styles/style.css" rel="stylesheet">
        <script src="../../content/scripts/jquery-3.5.1.min.js"></script>
        <script src="../../content/scripts/gsap.min.js"></script>
    </head>
    <body>
        <main>
            <div class="bg-wrap rsp-tgl-el__pc">
                <img src="../../content/images/background-web.jpg" alt="제주특별자치도 공개채용 게이트 페이지 배경화면">
            </div> <!-- //background wrap -->
            <div class="main-wrap">
                <h1 class="main-title">
                    <img src="../../content/images/title.png?v=20220315" alt="2022년도  제1회 제주특별자치도 공공기관 직원 통합채용 / 제주특별자치도 공공기관 직원 통합채용을 시행함으로써 공공기관 직원채용의 투명성과 객관성을 확보하고 우수한 인재를 채용하고자 합니다. / 제주특별자치도" class="rsp-tgl-el__pc">
                    <img src="../../content/images/title-mo.png?v=20220315" alt="2022년도  제1회 제주특별자치도 공공기관 직원 통합채용 / 제주특별자치도 공공기관 직원 통합채용을 시행함으로써 공공기관 직원채용의 투명성과 객관성을 확보하고 우수한 인재를 채용하고자 합니다. / 제주특별자치도" class="rsp-tgl-el__mo">
                </h1>
                <ul class="main-list">
                    <li>
                        <a href="https://jpdc-recruit.com" title="제주개발공사(새 창 이동)"><img src="../../content/images/link-thumbnail-01.png?v=20220315" alt="제주의 가치를 발견하고 공유하다 / 제주특별자치도개발공사"></a>
                    </li>
                    <li>
                        <a href="https://jejuenergy-recruit.com" title="제주에너지공사(새 창 이동)"><img src="../../content/images/link-thumbnail-02.png?v=20220315" alt="제주의 미래가치를 여는 글로벌 에너지 공기업 / 제주에너지공사"></a>
                    </li>
                    <li>
                        <a href="https://jeju43peace-recruit.com" title="제주4.3평화재단(새 창 이동)"><img src="../../content/images/link-thumbnail-03.png?v=20220315" alt="제주에서 피어나는 평화의 빛 / 제주4.3평화재단"></a>
                    </li>
                    <li>
                        <a href="https://jiles-recruit.com" title="제주평생교육장학진흥원(새 창 이동)"><img src="../../content/images/link-thumbnail-04.png?v=20220315" alt="제주인의 삶과 배움을 연결하는 평생교육 전문기관 / 제주평생교육장학진흥원"></a>
                    </li>
                    <li>
                        <a href="https://ofjeju-recruit.com" title="제주영상.문화산업진흥원(새 창 이동)"><img src="../../content/images/link-thumbnail-05.png?v=20220315" alt="지속가능한 문화생태계 조성 및 일자리 창출 도모 / 제주영상.문화산업진흥원"></a>
                    </li>
                    <li>
                        <a href="https://jjsmc-recruit.com" title="JEJU서귀포의료원(새 창 이동)"><img src="../../content/images/link-thumbnail-06.png?v=20220315" alt="서귀포 시민들의 건강지킴이 / JEJU서귀포의료원"></a>
                    </li>
                    <li>
                        <a href="https://jba-recruit.com" title="제주특별자치도 경제통상진흥원(새 창 이동)"><img src="../../content/images/link-thumbnail-07.png?v=20220315" alt="중소기업 · 소상공인의 성장을 지원하는 경제통상 전문기관 경제통상 전문기관 / 제주특별자치도 경제통상진흥원"></a>
                    </li>
                    <li>
                        <a href="https://jcgf-recruit.com" title="제주신용보증재단(새 창 이동)"><img src="../../content/images/link-thumbnail-08.png?v=20220315" alt="제주지역 경제활성화에 기여하고자 설립된 공적보증기관 / 제주신용보증재단"></a>
                    </li>
                    <li>
                        <a href="https://jejutp-recruit.com" title="제주테크노파크(새 창 이동)"><img src="../../content/images/link-thumbnail-09.png?v=20220315" alt="제주기업의 혁신성장 동력 / 제주테크노파크"></a>
                    </li>
                    <li>
                        <a href="https://jejupass-recruit.com" title="사회서비스원(새 창 이동)"><img src="../../content/images/link-thumbnail-10.png?v=20220315" alt="제주 사회서비스 컨트롤 타워 / 사회서비스원"></a>
                    </li>
                </ul>
                <footer>
                    <i class="logo"><img src="../../content/images/logo.png?v=20220315" alt="제주특별자치도"></i>
                </footer>
            </div> <!-- //main wrap -->
        </main>
        <script>
            //gate animation
            $(window).on("load", function(){
                $("html").addClass("load");
            });
            //visual parallax animaton
            $.fn.parallax = function(resistance, mouse) {
                $el = $(this);
                TweenLite.to($el, 0.2, {
                    x: -((mouse.clientX - window.innerWidth / 2) / resistance),
                    y: -((mouse.clientY - window.innerHeight / 2) / resistance)
                });
            };

            $(document).mousemove(function(e) {
                //visual parallax
                $(".bg-wrap").parallax(150, e);
            });
        </script>
    </body>
</html>